hr
h3 Nav Tab
hr

pre(class="prettyprint linenums lang-html")
    div.nav-tab
        ul
            li
                input(type="radio" name="nav-tab-label" checked="checked" id="label-home")
                label(for="label-home") Home
                div
                    h3 Home
                    p Some home content
            li
                input(type="radio" name="nav-tab-label" checked="checked" id="label-about")
                label(for="label-about") About
                div
                    h3 About
                    p Some about content
br
br

div(style="height:200px;width:100%;")
    div.nav-tab
        ul
            li
                input(type="radio" name="nav-tab-label" checked="checked" id="label-home")
                label(for="label-home") Home
                div
                    h3 Home
                    p Some home content
            li
                input(type="radio" name="nav-tab-label" checked="checked" id="label-about")
                label(for="label-about") About
                div
                    h3 About
                    p Some about content
