html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title psychic-ui
        style
            include ../assets/prettify.css
        script(src="http://localhost:35729/livereload.js")
        script.
            var entityMap = {
               "&": "&amp;",
               "<": "&lt;",
               ">": "&gt;",
               '"': '&quot;',
               "'": '&#39;',
               "/": '&#x2F;'
             };

             function escapeHtml(string) {
               return String(string).replace(/[&<>"'\/]/g, function (s) {
                 return entityMap[s];
               });
             }
             document.onreadystatechange = function () {
                 if (document.readyState == "complete") {
                    var code = document.querySelectorAll('pre');
                    for (var i = code.length; i--;) {
                        code[i].innerHTML = escapeHtml(code[i].innerHTML)
                    }
                    prettyPrint();
                 }
             }
        script
            include ../assets/prettify.js
        style.
            .example {
                width: 65%;
                margin: 0 auto;
            }
            body {
                padding-bottom: 120px;
            }
        style
            include ../../../psychic-paper.css
    body
        include ../intro.pug
        div.example
            div
                include ../colors.pug
            br
            div
                include ../../grid/grid.pug
            br
            div
                include ../../typography/typography.pug
            br
            div
                include ../../helper/helper.pug
            br
            div
                include ../../table/table.pug
            br
            div
                include ../../navbar/navbar.pug
            br
            div
                include ../../nav/nav.pug
            br
            div
                include ../../nav-tab/nav-tab.pug
            br
            div
                include ../../spinner/spinner.pug
            br
            div
                include ../../button/button.pug
            br
            div
                include ../../popover/popover.pug
            br
            div
                include ../../progress/progress.pug
            br
            div
                include ../../dropdown/dropdown.pug
            br
            div
                include ../../modal/modal.pug
            br
            div
                include ../../alert/alert.pug
            br
            div
                include ../../list/list.pug
            br
            div
                include ../../badge/badge.pug
            br
            div
                include ../../panel/panel.pug
            br
            div
                include ../../callout/callout.pug
            br
            div
                include ../../icon/icon.pug
            br
            hr
            h3 Examples
            hr
            br
            br
            br
            include ../api-status.pug
            br
            include ../chat.pug
            br
            include ../cover.pug
            br
            br
            div(class="navbar navbar-center")
                div(class="container text-center")
                    div(class="text-black") created with ♥ by
                        a(class="text-black" href="https://github.com/gabrielcsapo") @gabrielcsapo
