hr
h3 Dropdown
hr

pre(class="prettyprint linenums lang-html")
    div(class="dropdown btn btn-"+ val)
        div(class="dropdown-title") DropDown
        div(class="dropdown-content")
            ul
                li
                    a(href="#") Item 1
                li
                    a(href="#") Item 2
                li
                    a(href="#") Item 3
                li
                    a(href="#") Item 4

each val in brands
    div(class="dropdown btn btn-"+ val)
        div(class="dropdown-title") DropDown
        div(class="dropdown-content")
            ul
                li
                    a(href="#") Item 1
                li
                    a(href="#") Item 2
                li
                    a(href="#") Item 3
                li
                    a(href="#") Item 4

pre(class="prettyprint linenums lang-html")
    div(class="dropdown btn btn-"+ val)
        div(class="dropdown-title") DropDown
        div(class="dropdown-content dropdown-content-right")
            ul
                li
                    a(href="#") Item 1
                li
                    a(href="#") Item 2
                li
                    a(href="#") Item 3
                li
                    a(href="#") Item 4

each val in brands
    div(class="dropdown btn btn-"+ val)
        div(class="dropdown-title") DropDown
        div(class="dropdown-content dropdown-content-right")
            ul
                li
                    a(href="#") Item 1
                li
                    a(href="#") Item 2
                li
                    a(href="#") Item 3
                li
                    a(href="#") Item 4
