hr
h3 Typography
hr
br

pre(class="prettyprint linenums lang-html")
    hr
hr
br

pre(class="prettyprint linenums lang-html")
    hr.ellipsis
hr.ellipsis
br

pre(class="prettyprint linenums lang-html")
    code function() {}

code function() {}
br
br

pre(class="prettyprint linenums lang-html")
    pre function() {}

pre function() {}
br

pre(class="prettyprint linenums lang-html")
    blockquote Science without religion is lame, religion without science is blind. - Albert Einstein
    each val in brands
        blockquote(class="text-"+ val) Science without religion is lame, religion without science is blind. - Albert Einstein


blockquote Science without religion is lame, religion without science is blind. - Albert Einstein
each val in brands
    blockquote(class="text-"+ val) Science without religion is lame, religion without science is blind. - Albert Einstein

br

pre(class"prettyprint linenums lang-html")
    each val in ['h1', 'h2', 'h3', 'h4', 'h5']
        #{val} #{val}
            small secondary text

each val in ['h1', 'h2', 'h3', 'h4', 'h5']
    #{val} #{val}
        small secondary text
