hr
h3 Panel
hr

pre(class="prettyprint linenums lang-html")
    each val in ['default', 'primary', 'success', 'info', 'warning', 'danger', 'white', 'black']
        div(class="panel panel-#{val}")
            div(class="panel-body") #{val}
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger', 'white', 'black']
    div(class="panel panel-#{val}")
        div(class="panel-header") header
        div(class="panel-body") body
        div(class="panel-footer") footer
    br
