hr
h3 Panel
hr

pre(class="prettyprint linenums lang-html")
    each val in brands
        div(class="panel panel-"+ val)
            div(class="panel-header") header
            div(class="panel-body") body
            div(class="panel-footer") footer
br
each val in brands
    div(class="panel panel-"+ val)
        div(class="panel-header") header
        div(class="panel-body") body
        div(class="panel-footer") footer
    br
