.panel
    position: relative
    height: auto
    border: 1px solid $brands['default']
    border-radius: $border-radius
    
    for key, value in $brands
        &.panel-{key}
            border: 1px solid value

            >.panel-header
                background-color: value
                color: lightness(value) < $bright-text-lightness ? #ffffff : #000000

            >.panel-footer
                background-color: value
                color: lightness(value) < $bright-text-lightness ? #ffffff : #000000

    >.panel-body
        padding: 15px

    >.panel-header
        top: 0
        padding: 15px

    >.panel-footer
        bottom: 0
        padding: 15px;
