for $brand in $brands
    .text-{$brand}
        color: $brands[$brand] !important

    .background-{$brand}
        background-color: $brands[$brand] !important

.no-border
    border: 0 !important

.responsive
    width:100%
    height:auto

.text-right
    text-align: right

.text-left
    text-align: left

.text-center
    text-align: center
