hr
h3 Helpers
hr

pre(class="prettyprint linenums lang-html")
    div(class="text-{brand}") Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
br
each val in brands
    div(class="text-"+ val) Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.

pre(class="prettyprint linenums lang-html")
    div(class="background-{brand}")
br
each val in brands
    div(class="background-"+ val style="padding:10px;")
    br

pre(class="prettyprint linenums lang-html")
    img(class="responsive" src="/assets/travis.jpeg")
br
img(class="responsive" src="/assets/travis.jpeg")
