hr
h3 Helpers
hr

pre(class="prettyprint linenums lang-html")
    div(class="text-{brand}") Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger', 'white', 'black']
    div(class="text-#{val}") Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.

pre(class="prettyprint linenums lang-html")
    div(class="background-{brand}")
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger', 'white', 'black']
    div(class="background-#{val}" style="padding:10px;") 
    br

pre(class="prettyprint linenums lang-html")
    img(class="responsive" src="examples/assets/travis.jpeg")
br
img(class="responsive" src="examples/assets/travis.jpeg")
