.progress
    width: 100%
    border: $progress['border']
    text-align: center

    .progress-fill
        padding: $progress['padding']
        height: $progress['height']
        background-color: $progress['background-color']

        for $brand in $brands
            &.progress-fill-{$brand}
                font-size: $progress['font-size']
                background-color: $brands[$brand]
                color: lightness($brands[$brand]) < $bright-text-lightness ? #ffffff : #000000

                &:hover
                    background-color: lighten($brands[$brand], 25%)

