hr
h3 Progress
hr

pre(class="prettyprint linenums lang-html")
    div(class="progress")
        div(class="progress-fill progress-fill-{val}" style="width:50%")
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger', 'white', 'black']
    div(class="progress")
        div(class="progress-fill progress-fill-#{val}" style="width:50%") 50%
    br
