hr
h3 Grid
hr

style.
    .cell {
        background-color: #dddddd;
        border: 1px solid white;
        padding: 5px 0;
        text-align: center;
        width: 100%;
    }
    
pre(class="prettyprint linenums lang-html")
    div(class="grid")
        div(class="col-{column}-12") {column}
br
div(class="grid")
    div(class="col-0-12")
        div(class="cell") 0
    div(class="col-12-12")
        div(class="cell") 12
    div(class="col-1-12")
        div(class="cell") 1
    div(class="col-11-12")
        div(class="cell") 11
    div(class="col-2-12")
        div(class="cell") 2
    div(class="col-10-12")
        div(class="cell") 10
    div(class="col-3-12")
        div(class="cell") 3
    div(class="col-9-12")
        div(class="cell") 9
    div(class="col-4-12")
        div(class="cell") 4
    div(class="col-8-12")
        div(class="cell") 8
    div(class="col-5-12")
        div(class="cell") 5
    div(class="col-7-12")
        div(class="cell") 7
    div(class="col-6-12")
        div(class="cell") 6
    div(class="col-6-12")
        div(class="cell") 6
    div(class="col-7-12")
        div(class="cell") 7
    div(class="col-5-12")
        div(class="cell") 5
    div(class="col-8-12")
        div(class="cell") 8
    div(class="col-4-12")
        div(class="cell") 4
    div(class="col-9-12")
        div(class="cell") 9
    div(class="col-3-12")
        div(class="cell") 3
    div(class="col-10-12")
        div(class="cell") 10
    div(class="col-2-12")
        div(class="cell") 2
    div(class="col-11-12")
        div(class="cell") 11
    div(class="col-1-12")
        div(class="cell") 1
    div(class="col-12-12")
        div(class="cell") 12
    div(class="col-0-12")
        div(class="cell") 0
    
