hr
h3 Icon
hr

pre(class="prettyprint linenums lang-html")
    each val in ['icon-currency-dollar', 'icon-currency-cent', 'icon-currency-pound', 'icon-currency-euro', 'icon-currency-currency', 'icon-currency-yen', 'icon-currency-dram', 'icon-currency-rupee', 'icon-currency-baht', 'icon-currency-riel', 'icon-currency-franc', 'icon-currency-lira', 'icon-currency-kip', 'icon-currency-drachma', 'icon-currency-peso', 'icon-currency-guarani', 'icon-currency-austral', 'icon-currency-hryvnia', 'icon-currency-cedi', 'icon-currency-spesmilo', 'icon-currency-tenge', 'icon-currency-rupee', 'icon-currency-lira', 'icon-currency-mark', 'icon-currency-manat', 'icon-currency-ruble', 'icon-currency-lari']
        div(class=val)

each val in ['icon-currency-dollar', 'icon-currency-cent', 'icon-currency-pound', 'icon-currency-euro', 'icon-currency-currency', 'icon-currency-yen', 'icon-currency-dram', 'icon-currency-rupee', 'icon-currency-baht', 'icon-currency-riel', 'icon-currency-franc', 'icon-currency-lira', 'icon-currency-kip', 'icon-currency-drachma', 'icon-currency-peso', 'icon-currency-guarani', 'icon-currency-austral', 'icon-currency-hryvnia', 'icon-currency-cedi', 'icon-currency-spesmilo', 'icon-currency-tenge', 'icon-currency-rupee', 'icon-currency-lira', 'icon-currency-mark', 'icon-currency-manat', 'icon-currency-ruble', 'icon-currency-lari']
    div(class=val)
