.icon-currency-dollar
    &:before
        content: "$"

.icon-currency-cent
    &:before
        content: "¢"

.icon-currency-pound
    &:before
        content: "£"

.icon-currency-euro
    &:before
        content: "€"

.icon-currency-currency
    &:before
        content: "¤"

.icon-currency-yen
    &:before
        content: "¥"

.icon-currency-dram
    &:before
        content: "֏"

.icon-currency-rupee
    &:before
        content: "Rs"

.icon-currency-baht
    &:before
        content: "฿"

.icon-currency-riel
    &:before
        content: "¤"

.icon-currency-franc
    &:before
        content: "₣"

.icon-currency-lira
    &:before
        content: "₤"

.icon-currency-kip
    &:before
        content: "₭"

.icon-currency-drachma
    &:before
        content: "₯"

.icon-currency-peso
    &:before
        content: "₱"

.icon-currency-guarani
    &:before
        content: "₲"

.icon-currency-austral
    &:before
        content: "₳"

.icon-currency-hryvnia
    &:before
        content: "₴"

.icon-currency-cedi
    &:before
        content: "₵"

.icon-currency-spesmilo
    &:before
        content: "₷"

.icon-currency-tenge
    &:before
        content: "₸"

.icon-currency-rupee
    &:before
        content: "₹"

.icon-currency-lira
    &:before
        content: "₺"

.icon-currency-mark
    &:before
        content: "M"

.icon-currency-manat
    &:before
        content: "₼"

.icon-currency-ruble
    &:before
        content: "₽"

.icon-currency-lari
    &:before
        content: "₾"
