hr
h3 Navbar
hr

pre(class="prettyprint linenums lang-html")
    div(class="navbar navbar-"+ val)
        div(class="container")
            div(class="navbar-title")
                span Title
br
each val in brands
    div(class="navbar navbar-"+ val)
        div(class="container")
            div(class="navbar-title")
                span Title
    br

pre(class="prettyprint linenums lang-html")
    div(class="navbar navbar-"+ val)
        div(class="container")
            div(class="navbar-title")
                span Title
            div.nav
                a(href="#blog") Blog
                a(href="#about") About
                a(href="#store") Store

br
each val in brands
    div(class="navbar navbar-"+ val)
        div(class="container")
            div(class="navbar-title")
                span Title
            div.nav
                a(href="#blog-nav"+ val id="blog-nav"+ val) Blog
                a(href="#about-nav"+ val id="about-nav"+ val) About
                a(href="#store-nav"+ val id="store-nav"+ val) Store
    br

pre(class="prettyprint linenums lang-html")
    div(class="navbar navbar-"+ val)
        div(class="container")
            div(class="navbar-title")
                span Title
            div.nav.nav-outline
                a(href="#blog") Blog
                a(href="#about") About
                a(href="#store") Store

br
each val in brands
    div(class="navbar navbar-"+ val)
        div(class="container")
            div(class="navbar-title")
                span Title
            div.nav.nav-outline
                a(href="#blog-outline"+ val id="blog-outline"+ val) Blog
                a(href="#about-outline"+ val id="about-outline"+ val) About
                a(href="#store-outline"+ val id="store-outline"+ val) Store
    br
