html
    head
        title psychic-ui
        style
            include assets/prettify.css
        script(src="http://localhost:35729/livereload.js")
        script.
            var entityMap = {
               "&": "&amp;",
               "<": "&lt;",
               ">": "&gt;",
               '"': '&quot;',
               "'": '&#39;',
               "/": '&#x2F;'
             };

             function escapeHtml(string) {
               return String(string).replace(/[&<>"'\/]/g, function (s) {
                 return entityMap[s];
               });
             }
             document.onreadystatechange = function () {
                 if (document.readyState == "complete") {
                    var code = document.querySelectorAll('pre');
                    for (var i = code.length; i--;) {
                        code[i].innerHTML = escapeHtml(code[i].innerHTML)
                    }
                    prettyPrint();
                 }
             }
        script
            include assets/prettify.js
        style.
            .example {
                width: 65%;
                margin: 0 auto;
            }
            body {
                padding-bottom: 120px;
            }
        style
            include ../psychic.css
    body(class="example")
        div
            include ./intro.jade
        br
        div
            include ../src/grid/grid.jade
        br
        div
            include ../src/typography/typography.jade
        br
        div
            include ../src/helper/helper.jade
        br
        div
            include ../src/table/table.jade
        br
        div
            include ../src/navbar/navbar.jade
        br
        div
            include ../src/nav/nav.jade
        br
        div
            include ../src/spinner/spinner.jade
        br
        div
            include ../src/button/button.jade
        br
        div
            include ../src/popover/popover.jade
        br
        div
            include ../src/progress/progress.jade
        br
        div
            include ../src/dropdown/dropdown.jade
        br
        div
            include ../src/modal/modal.jade
        br
        div
            include ../src/alert/alert.jade
        br
        div
            include ../src/list/list.jade
        br
        div
            include ../src/badge/badge.jade
        br
        div
            include ../src/panel/panel.jade
        br
        div
            include ../src/callout/callout.jade
        br
        div
            include ../src/icon/icon.jade
        br
        div
            include ../src/examples/example.jade
        br
        br
        div(class="navbar navbar-center")
            div(class="container text-center")
                div(class="text-black") created with ♥ by
                    a(class="text-black" href="https://github.com/gabrielcsapo") @gabrielcsapo
