html
    head
        style.
            .example {
                width:65%;
                margin: 0 auto;
            }
            body {
                padding-bottom: 60px;
            }
        style
            include ../psychic.css
    body(class="example")
        br
        div
            include ../src/grid/grid.jade
        br
        div
            include ../src/table/table.jade
        br
        div
            include ../src/navbar/navbar.jade
        br
        div
            include ../src/spinner/spinner.jade
        br
        div
            include ../src/button/button.jade
        br
        div
            include ../src/popover/popover.jade
