html
    head
        title psychic-ui
        style
            include assets/prettify.css
        script(src="http://localhost:35729/livereload.js")
        script.
            var entityMap = {
               "&": "&amp;",
               "<": "&lt;",
               ">": "&gt;",
               '"': '&quot;',
               "'": '&#39;',
               "/": '&#x2F;'
             };

             function escapeHtml(string) {
               return String(string).replace(/[&<>"'\/]/g, function (s) {
                 return entityMap[s];
               });
             }
             document.onreadystatechange = function () {
                 if (document.readyState == "complete") {
                    var code = document.querySelectorAll('pre');
                    for (var i = code.length; i--;) {
                        code[i].innerHTML = escapeHtml(code[i].innerHTML)
                    }
                    prettyPrint();
                 }
             }
        script
            include assets/prettify.js
        style.
            .example {
                width: 65%;
                margin: 0 auto;
            }
            body {
                padding-bottom: 120px;
            }
        style
            include ../psychic.css
    body(class="example")
        h3 psychic-ui
        br
        div
            include ../src/grid/grid.jade
        br
        div
            include ../src/table/table.jade
        br
        div
            include ../src/navbar/navbar.jade
        br
        div
            include ../src/spinner/spinner.jade
        br
        div
            include ../src/button/button.jade
        br
        div
            include ../src/popover/popover.jade
        br
        div
            include ../src/dropdown/dropdown.jade
