label
    display: inline-block
    margin-bottom: .5rem

input, textarea, select
    display: block
    width: 100%
    padding: .375rem .75rem
    font-size: 1rem
    line-height: 1.5
    color: #55595c
    background-color: $brands['white']
    background-image: none
    border: 1px solid $brands['default']
    border-radius: .25rem

    &:focus
        border-color: $brands['primary']
        outline: 0

    for $brand in $brands
        &.input-{$brand}
            border-color: lighten($brands[$brand], 65%)

            &:focus
                border-color: darken($brands[$brand], 25%)
