pre(class="prettyprint linenums lang-html")
    table(class="table responsive border-#{val}")
        thead
            tr
                th First Name
                th Last Name
        tbody
            tr
                th John
                th Doe
br
table(class="table responsive")
    thead
        tr
            th First Name
            th Last Name
    tbody
        tr
            th John
            th Doe
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger']
    table(class="table responsive border-#{val}")
        thead
            tr
                th First Name
                th Last Name
        tbody
            tr
                th John
                th Doe
    br
