.table
    text-align: center
    word-break: break-all

    for $brand in $brands
        &.border-{$brand}
            border: none

            thead > tr > th
                color: $brands[$brand]

            th, td
                color: lighten($brands[$brand], 5%)

            th, td
                border-bottom: .1rem solid $brands[$brand]

    thead > tr > th
      font-weight: bold

    th, td
        border-bottom: .1rem solid #e1e1e1;
        text-align: left
        padding: $table['padding']

    &.responsive
        width: 100%
        border-collapse: collapse
        border-spacing: 0
        display: table

    &.border
      border: $table['border-width'] solid $table['border-color']
