hr
h3 Callouts
hr

pre(class="prettyprint linenums lang-html")
    each val in brands
        div(class="callout callout-"+ val) I am a callout
        br

each val in brands
    div(class="callout callout-"+ val) I am a callout
    br
