style.
    .spinner-overlay {
        height:100px;
        display:inline-block;
        width:auto;
    }
    .spinner {
        height:50px;
        width:50px;
    }

pre(class="prettyprint linenums lang-html")
    div(class="spinner-overlay")
        div(class="spinner spinner-{brand}")
br
div(style="width:100%;text-align:center;")

    each val in ['default', 'primary', 'success', 'info', 'warning', 'danger']
        div(class="spinner-overlay")
            div(class="spinner spinner-#{val}")
            
br

pre(class="prettyprint linenums lang-html")
    div(class="spinner-overlay")
        div(class="spinner spinner-{brand} spinner-done")
br
div(style="width:100%;text-align:center;")

    each val in ['default', 'primary', 'success', 'info', 'warning', 'danger']
        div(class="spinner-overlay")
            div(class="spinner spinner-#{val} spinner-done")
        
