hr
h3 Spinner
hr

style.
    .spinner-inline > .spinner-overlay {
        height:100px;
        display:inline-block;
        width:auto;
    }

pre(class="prettyprint linenums lang-html")
    div(class="spinner-overlay")
        div(class="spinner spinner-{brand}")
br
div(style="width:100%;text-align:center;" class="spinner-inline")
    each val in brands
        div(class="spinner-overlay")
            div(class="spinner spinner-"+ val)

br

pre(class="prettyprint linenums lang-html")
    div(class="spinner-overlay")
        div(class="spinner spinner-{brand} spinner-done")
br
div(style="width:100%;text-align:center;" class="spinner-inline")

    each val in brands
        div(class="spinner-overlay")
            div(class="spinner spinner-"+ val +" spinner-done")
br
pre(class="prettyprint linenums lang-html")
    div(class="spinner-overlay")
        div(class="spinner-wrapper")
            div(class="spinner spinner-{val}")
br
div(style="width:100%;height:350px;border:1px solid #dedede;border-radius:5px;")
    div(class="spinner-overlay")
        div(class="spinner-wrapper")
            div(class="spinner spinner-primary")
