pre(class="prettyprint linenums lang-html")
    div(class="popover-container") top
        span(class="popover top") this is a popover

div(class="popover-container") top
   span(class="popover top") this is a popover
br
div(class="popover-container") bottom
   span(class="popover bottom") this is a popover
br
div(class="popover-container") left
   span(class="popover left") this is a popover
br
div(class="popover-container") right
   span(class="popover right") this is a popover
