hr
h3 Popover
hr

pre(class="prettyprint linenums lang-html")
    div(class="popover-container") top
        span(class="popover top") this is a popover

ul(style="list-style:none;")
    li(class="popover-container" style="display:inline;margin-right: 25%;") top
       span(class="popover top") this is a popover
    li(class="popover-container" style="display:inline;margin-right: 25%;") bottom
       span(class="popover bottom") this is a popover
    li(class="popover-container" style="display:inline;margin-right: 25%;") left
       span(class="popover left") this is a popover
    li(class="popover-container" style="display:inline;") right
       span(class="popover right") this is a popover
