hr
h3 Popover
hr

pre(class="prettyprint linenums lang-html")
    div(class="popover-container") top
        span(class="popover popover-{brand} top") this is a popover

ul(style="list-style:none;")
    li(class="popover-container" style="display:inline;margin-right: 25%;") top
       span(class="popover top") BORING!
    li(class="popover-container" style="display:inline;margin-right: 25%;") bottom
       span(class="popover bottom") BORING!
    li(class="popover-container" style="display:inline;margin-right: 25%;") left
       span(class="popover left") BORING!
    li(class="popover-container" style="display:inline;") right
       span(class="popover right") BORING!

ul(style="list-style:none;")
   li(class="popover-container" style="display:inline;margin-right: 25%;") top
      span(class="popover popover-warning top") THERE BE DRAGONS!
   li(class="popover-container" style="display:inline;margin-right: 25%;") bottom
      span(class="popover popover-warning bottom") THERE BE DRAGONS!
   li(class="popover-container" style="display:inline;margin-right: 25%;") left
      span(class="popover popover-warning left") THERE BE DRAGONS!
   li(class="popover-container" style="display:inline;") right
      span(class="popover popover-warning right") THERE BE DRAGONS!

ul(style="list-style:none;")
 li(class="popover-container" style="display:inline;margin-right: 25%;") top
    span(class="popover popover-success top") DONE!
 li(class="popover-container" style="display:inline;margin-right: 25%;") bottom
    span(class="popover popover-success bottom") DONE!
 li(class="popover-container" style="display:inline;margin-right: 25%;") left
    span(class="popover popover-success left") DONE!
 li(class="popover-container" style="display:inline;") right
    span(class="popover popover-success right") DONE!

ul(style="list-style:none;")
 li(class="popover-container" style="display:inline;margin-right: 25%;") top
    span(class="popover popover-primary top") PRIMARY!
 li(class="popover-container" style="display:inline;margin-right: 25%;") bottom
    span(class="popover popover-primary bottom") PRIMARY!
 li(class="popover-container" style="display:inline;margin-right: 25%;") left
    span(class="popover popover-primary left") PRIMARY!
 li(class="popover-container" style="display:inline;") right
    span(class="popover popover-primary right") PRIMARY!

ul(style="list-style:none;")
 li(class="popover-container" style="display:inline;margin-right: 25%;") top
    span(class="popover popover-info top") LOOK AT ME!
 li(class="popover-container" style="display:inline;margin-right: 25%;") bottom
    span(class="popover popover-info bottom") LOOK AT ME!
 li(class="popover-container" style="display:inline;margin-right: 25%;") left
    span(class="popover popover-info left") LOOK AT ME!
 li(class="popover-container" style="display:inline;") right
    span(class="popover popover-info right") LOOK AT ME!
