.popover-container
    display: inline-block
    position: relative

    &:hover .popover
        visibility: visible
        -webkit-animation: fade-in .1s both
        animation: fade-in .1s both

  .popover
        visibility: hidden
        width: 120px
        background-color: black
        color: #fff
        text-align: center
        padding: 5px
        border-radius: 6px

        position: absolute
        z-index: 1
        border-radius: $popover['border-radius']

        &.active
            visibility: visible
            -webkit-animation: fade-in .1s both
            animation: fade-in .1s both

        &:after
            content: " "
            position: absolute
            border-width: 5px
            border-style: solid

    &.top
        width: 120px
        bottom: 120%
        left: 50%
        margin-left: -60px

        &:after
            top: 100%
            left: 50%
            margin-left: -5px
            border-color: black transparent transparent transparent

    &.bottom
        width: 120px
        top: 120%
        left: 50%
        margin-left: -60px

        &:after
            bottom: 100%
            left: 50%
            margin-left: -5px
            border-color: transparent transparent black transparent

    &.right
        top: -5px
        left: 130%

        &:after
            top: 50%
            right: 100%
            margin-top: -5px
            border-color: transparent black transparent transparent

    &.left
        top: -5px
        right: 130%

        &:after
            top: 50%
            left: 100%
            margin-top: -5px
            border-color: transparent transparent transparent black

    for key, value in $brands
      &.popover-{key}
          border: 1px solid value
          background-color: value
          color: lightness(value) < $bright-text-lightness ? #ffffff : #000000

          &.left:after
              border-color: transparent transparent transparent value

          &.right:after
              border-color: transparent value transparent transparent

          &.top:after
              border-color: value transparent transparent transparent

          &.bottom:after
              border-color: transparent transparent value transparent

@-webkit-keyframes fade-in {
    from   { opacity: 0 }
    to { opacity: 1 }
}
@-moz-keyframes fade-in {
    from   { opacity: 0 }
    to { opacity: 1 }
}
@-ms-keyframes fade-in {
    from   { opacity: 0 }
    to { opacity: 1 }
}
