hr
h3 Chat
hr

pre(class="prettyprint linenums lang-html")
    div(class="panel")
        div(class="panel-header")
            div(class="grid")
                div(class="col-1-12")
                    div(style="height:50px;width:50px;background-color:blue;display:inline-block;")
                div(class="col-11-12")
                    h3 gabrielcsapo/Chatter 
                        small A simple chat server
        
        div(class="panel-body")
            ul(class="list")
                li(class="list-item no-border")
                    div(class="grid")
                        div(class="col-1-12")
                            div(style="height:50px;width:50px;background-color:blue;display:inline-block;")
                        div(class="col-11-12") 
                            div(class="grid")
                                div(class="col-4-12 text-default") Gabriel Csapo @gabrielcsapo
                                div(class="col-8-12 text-right text-default") Apr 23 08:38
                            div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget urna eget ex pellentesque auctor. Fusce bibendum volutpat nunc, vitae mattis dolor viverra nec. Praesent mollis et nunc condimentum euismod. Suspendisse aliquam ut tellus at porta.
                li(class="list-item no-border")
                    div(class="grid")
                        div(class="col-1-12")
                            div(style="height:50px;width:50px;background-color:blue;display:inline-block;")
                        div(class="col-11-12") 
                            div(class="grid")
                                div(class="col-4-12 text-default") Gabriel Csapo @gabrielcsapo
                                div(class="col-8-12 text-right text-default") Apr 23 08:38
                            div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget urna eget ex pellentesque auctor. Fusce bibendum volutpat nunc, vitae mattis dolor viverra nec. Praesent mollis et nunc condimentum euismod. Suspendisse aliquam ut tellus at porta.
        div(class="panel-footer")
            div(class="grid")
                div(class="col-1-12")
                    div(style="height:50px;width:50px;background-color:blue;display:inline-block;")
                div(class="col-11-12")
                    input(style="width:100%;height:50px;" type="text" placeholder="Click here to type a chat message.")
br

div(class="panel")
    div(class="panel-header")
        div(class="grid")
            div(class="col-1-12")
                div(style="height:50px;width:50px;background-color:blue;display:inline-block;")
            div(class="col-11-12")
                h3 gabrielcsapo/Chatter 
                    small A simple chat server
    
    div(class="panel-body")
        ul(class="list")
            li(class="list-item no-border")
                div(class="grid")
                    div(class="col-1-12")
                        div(style="height:50px;width:50px;background-color:blue;display:inline-block;")
                    div(class="col-11-12") 
                        div(class="grid")
                            div(class="col-4-12 text-default") Gabriel Csapo @gabrielcsapo
                            div(class="col-8-12 text-right text-default") Apr 23 08:38
                        div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget urna eget ex pellentesque auctor. Fusce bibendum volutpat nunc, vitae mattis dolor viverra nec. Praesent mollis et nunc condimentum euismod. Suspendisse aliquam ut tellus at porta.
            li(class="list-item no-border")
                div(class="grid")
                    div(class="col-1-12")
                        div(style="height:50px;width:50px;background-color:blue;display:inline-block;")
                    div(class="col-11-12") 
                        div(class="grid")
                            div(class="col-4-12 text-default") Gabriel Csapo @gabrielcsapo
                            div(class="col-8-12 text-right text-default") Apr 23 08:38
                        div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget urna eget ex pellentesque auctor. Fusce bibendum volutpat nunc, vitae mattis dolor viverra nec. Praesent mollis et nunc condimentum euismod. Suspendisse aliquam ut tellus at porta.
    div(class="panel-footer")
        div(class="grid")
            div(class="col-1-12")
                div(style="height:50px;width:50px;background-color:blue;display:inline-block;")
            div(class="col-11-12")
                input(style="width:100%;height:50px;" type="text" placeholder="Click here to type a chat message.")
