.treeview
    user-select: none

    & input ~ label:before
        opacity: 1.0
        transition-duration: 0.5s

    & ul
        transition-duration: 1s
        margin-top:0
        margin-bottom:0
        padding-left: 15px
        list-style: none

    & ul li span
        transition-property: color
        transition-duration: 1s

    & input
        display: none

    & input:checked ~ ul
        display: none

    & input ~ label
        cursor: pointer

    & input ~ label:before
        content: ''
        width: 0
        height: 0
        position: absolute
        margin-left: -1em
        margin-top: 4px
        border-width: 4px
        border-style: solid
        border-top-color: transparent
        border-bottom-color: rgba(0, 0, 0, 1)
        border-bottom-color: rgba(0, 0, 0, 1)
        border-left-color: transparent
        opacity: 1
        transition-property: opacity
        transition-duration: 1s

    & input:checked ~ label:before
        margin-left: -0.8em
        border-width: 5px
        border-top-color: rgba(0, 0, 0, 1)
        border-right-color: rgba(0, 0, 0, 1)
        border-bottom-color: rgba(0, 0, 0, 1)
        border-left-color: rgba(0, 0, 0, 1);
