hr
h3 Treeview
hr


pre(class="prettyprint linenums lang-html")
    div.treeview
        ul
            li
                input(type="checkbox" id="people-list")
                label(for="people-list") People (3)
                ul
                    li
                        a John Doe
                    li
                        a Eric Fields
                    li
                        a Thomas Jefferson

br
div.treeview
    ul
        li
            input(type="checkbox" id="people-list")
            label(for="people-list") People (3)
            ul
                li
                    a John Doe
                li
                    a Eric Fields
                li
                    a Thomas Jefferson

br
br
pre(class="prettyprint linenums lang-html")
    div.treeview
        ul
            li
                input(type="checkbox" id="people-list")
                label(for="people-list") People (6)
                ul
                    li
                        div.treeview
                            ul
                                li
                                    input(type="checkbox" id="john-doe")
                                    label(for="john-doe") John Doe
                                    ul
                                        li
                                            a Elen Doe
                                        li
                                            a Frank Doe
                                        li
                                            a Brand Doe

                    li
                        a Eric Fields
                    li
                        a Thomas Jefferson
br
div.treeview
    ul
        li
            input(type="checkbox" id="people-list-extended")
            label(for="people-list-extended") People (6)
            ul
                li
                    div.treeview
                        ul
                            li
                                input(type="checkbox" id="john-doe")
                                label(for="john-doe") John Doe
                                ul
                                    li
                                        a Elen Doe
                                    li
                                        a Frank Doe
                                    li
                                        a Brand Doe

                li
                    a Eric Fields
                li
                    a Thomas Jefferson
br
br
