hr
h3 Alert
hr

pre(class="prettyprint linenums lang-html")
    each val in ['default', 'primary', 'success', 'info', 'warning', 'danger']
        div(class="alert alert-#{val}")
            div I am an alert
            div(class="alert-close") &#215
        br
br
each val in ['default', 'primary', 'success', 'info', 'warning', 'danger']
    div(class="alert alert-#{val}")
        div I am an alert
        div(class="alert-close") &#215
    br
