.alert
    padding: 10px 0
    border-radius: $alert['border-radius']
    border: 1px solid $brands['border']
    position: relative
    padding-left: 10px
    if $alert['box-shadow']
        box-shadow: $alert['box-shadow']

    >.alert-close
        font-size: 25px
        line-height: 15px
        position: absolute
        right: 10px
        top: 10px

    for $brand in $brands
        &.alert-{$brand}
            color: lightness($brands[$brand]) < $bright-text-lightness ? #ffffff : #000000
            background-color: $brands[$brand]
            border: 1px solid darken($brands[$brand], 10%)

            >.alert-close
                color: lightness($brands[$brand]) < $bright-text-lightness ? #ffffff : #000000
