html
    head
        style.
            .example {
                width:65%;
                margin: 0 auto;
            }
        style
            include ../psychic.css
    body
        div(class="example")
            include ./grid/grid.jade
        br
        div(class="example")
            include ./table/table.jade
        br
        div(class="example")
            include ./navbar/navbar.jade
        br
        div(class="example")
            include ./spinner/spinner.jade
        br
        div(class="example")
            include ./button/button.jade
