$grid-columns = 12
$grid-gutter = 0

$border-radius = 5px
$bright-text-lightness = 90%
$bright-border-lightness = 99%

$breakpoints = {
  xs: 16em
  sm: 32em
  md: 48em
  lg: 64em
  xl: 80em
}

$button = {}


$brands = {
    white: #ffffff
    black: #000000
    default: #424242
    primary: #2a9fd6
    success: #77b300
    info: #9933cc
    warning: #ff8800
    danger: #cc0000
}

$colors = {
    link: #0079ad
}

$alert = {
    border-radius: $border-radius
}

$dropdown = {
    border: 1px solid $brands['default']
}

$table = {
    padding: 10px
}

$navbar = {
    border-width: 1px
    border-color: $brands['default']
}

$nav = {
    border-width: 3px
    border-color: $brands['primary']
}

$popover = {
    border-radius: $border-radius
}

$progress = {
    border: 1px solid $brands['default']
    background-color: $brands['primary']
    padding: 5px
    height: 10px
    font-size: 9px
}

$list = {
    border: 1px solid $brands['default']
    border-radius: $border-radius
}

$badge = {
    padding: 5px
    border-radius: 100px
}

$callout = {
    padding: 15px
    border-color: #eee
}

@import 'utils/normalize.css'
@import 'helper/helper.styl'
@import 'typography/typography.styl'
@import 'grid/grid.styl'
@import 'table/table.styl'
@import 'navbar/navbar.styl'
@import 'nav/nav.styl'
@import 'nav-tab/nav-tab.styl'
@import 'spinner/spinner.styl'
@import 'button/button.styl'
@import 'popover/popover.styl'
@import 'progress/progress.styl'
@import 'list/list.styl'
@import 'dropdown/dropdown.styl'
@import 'modal/modal.styl'
@import 'panel/panel.styl'
@import 'badge/badge.styl'
@import 'alert/alert.styl'
@import 'callout/callout.styl'
@import 'treeview/treeview.styl'
@import 'form/form.styl'

