.table {
	text-align: center;
	word-break: break-all;
	border-collapse: collapse;
	border-spacing: 0;

	for $brand in $brands {
		&.table-{$brand} {
			thead > tr > th {
				color: $brands[$brand];
			}
		}
	}

	thead > tr > th {
		font-weight: 500;
	}

	tfoot td:empty {
		padding: 0;
		border-bottom: 0;
	}

	th, td {
		text-align: left;
		font-weight: 100;
		border: $table['border'];
		padding: $table['padding'];
	}

	&.responsive {
		display: table;
	}
}
