$grid-columns = 12
$grid-gutter = 0

$border-radius = 5px
$bright-text-lightness = 90%
$bright-border-lightness = 99%

$breakpoints = {
  xs: 16em
  sm: 32em
  md: 48em
  lg: 64em
  xl: 80em
}

$brands = {
    white: #ffffff
    black: #000000
    default: #CFCFC4
    primary: #779ECB
    success: #77DD77
    info: #9BDDFF
    warning: #FFB347
    danger: #FF6961
}

$button = {}

$colors = {
    link: #0079ad
}

$alert = {
    border-radius: $border-radius
}

$dropdown = {
    border: 1px solid $brands['default']
}

$table = {
    padding: 10px
}

$navbar = {
    border-width: 1px
    border-color: $brands['default']
}

$nav = {
    border-width: 3px
    border-color: $brands['primary']
}

$popover = {
    border-radius: $border-radius
}

$progress = {
    border: 1px solid $brands['default']
    background-color: $brands['primary']
    padding: 10px
    height: 15px
    font-size: 16px
}

$list = {
    border: 1px solid $brands['default']
    border-radius: $border-radius
}

$badge = {
    padding: 5px
    border-radius: 100px
}

$callout = {
    padding: 15px
    border-color: #eee
}

