$grid-columns = 12
$grid-gutter = 0

$border-radius = 5px
$bright-text-lightness = 70%
$bright-border-lightness = 99%

$breakpoints = {
  sm: 32em
  md: 48em
  lg: 64em
  xl: 80em
}

$brands = {
    black: #000000
    default: #efefef
    primary: darken(#428bca, 6.5%)
    success: #5cb85c
    info: #5bc0de
    warning: #f0ad4e
    danger: #d9534f
}

$colors = {
    link: #0079ad
}

$alert = {
    border-radius: $border-radius
}

$dropdown = {
    border: 1px solid $brands['default']
}

$table = {
    padding: 10px
}

$navbar = {
    border-width: 1px
    border-color: $brands['default']
}

$nav = {
    border-width: 3px
    border-color: $brands['primary']
}

$popover = {
    border-radius: $border-radius
}

$progress = {
    border: 1px solid $brands['default']
    background-color: $brands['primary']
    padding: 10px
    height: 15px
}

$list = {
    border: 1px solid $brands['default']
    border-radius: $border-radius
}

$badge = {
    padding: 5px
    border-radius: 100px
}
