hr
h3 Nav
hr

pre(class="prettyprint linenums lang-html")
    div(class="nav")
        a(href="#contacts" id="contacts") Contacts
        a(href="#phone" id="phone") Phone
br
div(class="nav")
    a(href="#contacts" id="contacts") Contacts
    a(href="#phone" id="phone") Phone
br

pre(class="prettyprint linenums lang-html")
    div(class="nav nav-stacked")
        a(href="#contacts1" id="contacts1") Contacts
        a(href="#phone1" id="phone1") Phone
br
div(class="nav nav-stacked")
    a(href="#contacts1" id="contacts1") Contacts
    a(href="#phone1" id="phone1") Phone
br

pre(class="prettyprint linenums lang-html")
    div(class="nav")
        a(href="#contacts2" class="active") Contacts
        a(href="#phone2") Phone
br
div(class="nav")
    a(href="#contacts2" class="active") Contacts
    a(href="#phone2") Phone
br


pre(class="prettyprint linenums lang-html")
    div(class="nav nav-stacked")
        a(href="#contacts3" class="active") Contacts
        a(href="#phone3") Phone
br
div(class="nav nav-stacked")
    a(href="#contacts3" class="active") Contacts
    a(href="#phone3") Phone

pre(class="prettyprint linenums lang-html")
    div(class="nav nav-stacked nav-outline")
        a(href="#contacts4") Contacts
        a(href="#phone4") Phone
br
div(class="nav nav-stacked nav-outline")
    a(href="#contacts4" id="contacts4") Contacts
    a(href="#phone4" id="phone4") Phone
