.nav

  &.nav-left

      > a
        border-left: $nav['border-width'] solid transparent

      &:hover
        text-decoration: none
        border-left: $nav['border-width'] solid lighten($nav['border-color'], 75%)
        border-right: 0 !important
        border-bottom: 0

      &:target,
      &.active
        border-left: $nav['border-width'] solid $nav['border-color']
        border-right: 0 !important
        border-bottom: 0

  &.nav-stacked
    display: inline-block

    > a
      border-right: $nav['border-width'] solid transparent
      display: block

      &:hover
          text-decoration: none
          border-right: $nav['border-width'] solid lighten($nav['border-color'], 75%)
          border-bottom: 0

      &:target,
      &.active
          border-right: $nav['border-width'] solid $nav['border-color']
          border-bottom: 0

    > label
      font-weight:bold
      display: inline-block
      margin-top:15px
      margin-bottom:15px

  > a
    padding-bottom: 5px
    padding-left: 4px
    padding-right: 4px
    margin-left: 2px
    margin-right: 2px
    color: black
    text-decoration: none

    &:target,
    &.active
        border-bottom: $nav['border-width'] solid $nav['border-color']

    &:hover
        text-decoration: none
        border-bottom: $nav['border-width'] solid lighten($nav['border-color'], 75%)
