pre(class="prettyprint linenums lang-html")
    ul(class="list")
        li(class="list-item") Item 1
        li(class="list-item") Item 2

ul(class="list")
    li(class="list-item") Item 1
    li(class="list-item") Item 2
