hr
h3 Badge
hr
pre(class="prettyprint linenums lang-html")
    each val in brands
        div(class="badge badge-"+ val) #{val}
br
each val in brands
    div(class="badge badge-"+ val) #{val}

br
pre(class="prettyprint linenums lang-html")
    each val in brands
        div(class="badge border-"+ val) #{val}
br
each val in brands
    div(class="badge border-"+ val) #{val}     
